<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<typeAliases>
		<typeAlias alias="User" type="com.webmaven.bean.User" />
		<typeAlias alias="Product" type="com.webmaven.bean.Product" />
		<typeAlias alias="Customer" type="com.webmaven.bean.Customer" />
		<typeAlias alias="SalesAndPayment" type="com.webmaven.bean.SalesAndPayment" />
		<typeAlias alias="SalesDetails" type="com.webmaven.bean.SalesDetails" />
		<typeAlias alias="Payment" type="com.webmaven.bean.Payment" />
		<typeAlias alias="Balance" type="com.webmaven.bean.Balance" />
		<typeAlias alias="Master" type="com.webmaven.bean.Master" />
		<typeAlias alias="LedgerDetail" type="com.webmaven.bean.LedgerDetail" />
	</typeAliases>

	<mappers>
		<mapper resource="mappers/user.xml" />
		<mapper resource="mappers/product.xml" />
		<mapper resource="mappers/customer.xml" />
		<mapper resource="mappers/salesAndPayment.xml" />
		<mapper resource="mappers/salesDetails.xml" />
		<mapper resource="mappers/payment.xml" />
		<mapper resource="mappers/balance.xml" />
		<mapper resource="mappers/master.xml" />
		<mapper resource="mappers/ledgerDetail.xml" />
	</mappers>
</configuration>